<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="../css/font-awesome.min.css" />


<link rel="stylesheet" href="../css/Layout.css" />
<title>E - Study Planner</title>


<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/jquery.min.js"></script>

<script src="../js/clearcookie.js"></script>
<script src="../js/coursesjs.js"></script>
<script src="../js/ratingjs.js"></script>

</head>
<body th:onload="${onLoadCourses}">

	<div class="container" id="containerBody">
		<!--_______________________________________ Navigation Menu ____________________________________________-->
		<nav
			class="navbar sticky-top navbar-expand-lg navbar-light bg-primary"
			id="navbar">
			<a class="navbar-brand" id="mainTitle" href="/">E-Study and
				Planner</a> <br />
			<hr class="my-4" />
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/Scheduler/">Scheduler</a>
					</li>
					<li class="nav-item"><a class="nav-link"
						href="/StudyMaterials/">Study Materials</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<div id="divusername">
						<input type="text" th:value="${username}" placeholder="username"
							class="topButton" readonly="readonly" id="navusername"
							name="userName" required="required"></input>
					</div>
					<a href="/getProfile" class="btn btn-dark my-2 my-sm-0 topButton"
						id="loginButton"> Profile </a> <a href="/"
						class="btn btn-dark my-2 my-sm-0 topButton" id="loginButton">
						LogOut </a>
				</form>
			</div>
		</nav>

		<div class="jumbotron" id="main">
			<h1 class="display-4">
				Lets start with <span th:text="${minorCourse}">MBBS !!!</span>
			</h1>
			<div class="progress">
				<div class="progress-bar" role="progressbar"
					th:style="'width: '+${perCompleted}+'%;'"
					th:aria-valuenow="${perCompleted}" th:text="${perCompleted}"
					aria-valuemin="0" aria-valuemax="100">25%</div>
				<hr class="my-4" />
			</div>
			<p class="lead">The material will be listed below .Its time for
				you to learn somthing on the topic .</p>

			<!--__________________________________________ Main Content ________________________________________-->
			<div id="maincontent">

				<div id="accordion1">
					<div class="card" id="sidecard">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button th:class="${shbutton1}" id="fullWidthButton"
									data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne"># My
									Completed list</button>
							</h5>
						</div>
						<div id="collapseOne" th:class="${shdiv1}"
							aria-labelledby="headingOne" data-parent="#accordion1">
							<div class="card-body">
								<!--__________________ Form For Study Material Completion ______________________-->
								<form action="/StudyMaterials/StudentCompletedMaterials"
									method="post">
									<div class="form-group" id="hiddenObject">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroupPrepend1">Username</span>
											</div>
											<input type="text" class="form-control"
												placeholder="Username" id="studentsUserName"
												th:value="${username}" name="studentsUserName"
												readonly="readonly" required="required" />

											<div class="invalid-feedback">Enter the Username !</div>
											<div class="valid-feedback">Looks good!</div>
										</div>
									</div>

									<div class="form-group" id="hiddenObject">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroupPrepend1">Minor
													Course</span>
											</div>
											<input type="text" class="form-control"
												placeholder="Minorcourse" th:value="${minorCourse}"
												name="courseforstudymaterial" required="required" />
										</div>
									</div>

									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroupPrepend1">No
													of Vedios To Complete</span>
											</div>
											<input type="text" class="form-control"
												placeholder="No of vedios" id="noOfVedios"
												th:value="${noOfVedios}" name="noOfVedios"
												readonly="readonly" required="required" />

										</div>
									</div>

									<div class="input-group">
										<select class="custom-select" id="inputstudymaterial"
											required="required">
											<option th:each="studyMaterial :${studyMaterials.toArray()}"
												th:value="${studyMaterial.getIdStudyMaterials()}"
												th:text="${studyMaterial.getTitle()}">Choose...</option>

										</select>
										<div class="input-group-append">
											<button class="btn btn-dark" id="addstudymaterial"
												type="button">Add</button>
											<button class="btn btn-secondary" id="removestudymaterial"
												type="button">Remove</button>
										</div>
									</div>

									<div class="form-group" id="studentslist">
										<label for="exampleFormControlSelect2"><b>My
												Completed vedios</b></label> <select multiple="multiple"
											class="form-control" id="studyMaterialsList"
											name="studyMaterialsList" required="required">
											<option
												th:each="studentCompletedMaterial :${studentCompletedMaterials.toArray()}"
												th:value="${studentCompletedMaterial.getIdStudyMaterials()}"
												th:text="${studentCompletedMaterial.getTitle()}"
												selected="selected"></option>

										</select>
									</div>
									<div class="form-row col-md-12 mb-4">
										<button type="button" id="ratingButton" class="topButton"
											data-toggle="modal" data-target="#exampleModalCenter">Rate
											the Course !!!</button>
									</div>

									<button class="btn btn-primary" type="submit">Update
										My List</button>

								</form>
							</div>
						</div>
					</div>
				</div>

				<!--_______________________________________ Form To Show Vedios ________________________________-->
				<form class="needs-validation" id="setstudymaterial"
					action="/StudyMaterials/showVedios" method="post">
					<h3>Study Materials</h3>

					<div class="input-group">
						<select class="custom-select" id="vedioselector"
							name="studyMaterialsLink" required="required">
							<option th:each="studyMaterial :${studyMaterials.toArray()}"
								th:value="${studyMaterial.getStudyMaterialLink()}"
								th:text="${studyMaterial.getTitle()}">One</option>

						</select>
						<div class="input-group-append">
							<button class="btn btn-dark" type="submit">Select Vedio</button>
						</div>
					</div>
				</form>
				<hr class="my-4" />

				<p class="lead">
					<iframe id="vedioframe" th:src="${vediolink}" frameborder="0"
						allow="autoplay; encrypted-media"
						allowfullscreen="allowfullscreen"></iframe>

				</p>
			</div>
		</div>

		<!--_______________________________________ Rating Stars __________________________________-->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content" id="modalcontent2">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Rating</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<form action="/StudyMaterials/getRating" method="post">

							<div class="form-group" id="hiddenObject">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroupPrepend1">My
											Username</span>
									</div>
									<input type="text" class="form-control" placeholder="Username"
										id="studentsUserName" th:value="${username}"
										name="studentsUserName" readonly="readonly"
										required="required" />

									<div class="invalid-feedback">Enter the Username !</div>
									<div class="valid-feedback">Looks good!</div>
								</div>
							</div>

							<div class="form-group" id="hiddenObject">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroupPrepend1">Experts
											Username</span>
									</div>
									<input type="text" class="form-control" placeholder="Username"
										id="expertsUserName" th:value="${expertsUserName}"
										name="expertsUserName" readonly="readonly" required="required" />

									<div class="invalid-feedback">Enter the Username !</div>
									<div class="valid-feedback">Looks good!</div>
								</div>
							</div>

							<div class="form-group" id="hiddenObject">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroupPrepend1">Minor
											Course</span>
									</div>
									<input type="text" class="form-control"
										placeholder="Minorcourse" th:value="${minorCourse}"
										name="courseforstudymaterial" readonly="readonly"
										required="required" />
								</div>
							</div>

							<div class="input-group">
								<div class="star-rating col-md-8 mb-2">
									<span class="fa fa-star-o" data-rating="1"></span> <span
										class="fa fa-star-o" data-rating="2"></span> <span
										class="fa fa-star-o" data-rating="3"></span> <span
										class="fa fa-star-o" data-rating="4"></span> <span
										class="fa fa-star-o" data-rating="5"></span> <input
										type="hidden" name="rating" class="rating-value" value="1"></input>
								</div>

								<div class="input-group-append col-md-4 mb-2">
									<button class="btn btn-dark" id="ratingsubmit" type="submit">Submit
										rating</button>
								</div>

							</div>
						</form>

					</div>
				</div>
			</div>
		</div>

	</div>

	<!--_____________________________________________ Optional JavaScript ______________________________________-->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script src="../js/jquery-3.2.1.slim.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>

</body>
</html>
