<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/Layout.css" />


    <title>E - Study Planner</title>

    <body>

        <div class="container">


            <!--navigation menu-->
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary" id="navbar">
                <a class="navbar-brand" href="/">E-Study and Planner</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Experts">Experts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Scheduler">Scheduler</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cources
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbar">
                                <a class="dropdown-item" href="/Courses">Engineering</a>
                                <a class="dropdown-item" href="#">Medical</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Commerce</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Reports</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
                        <a href="/" class="btn btn-dark my-2 my-sm-0" id="loginButton"  >
               			LogOut
           				</a>
                    </form>
                </div>
            </nav>


            <!--slider-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="images/image1.jpg" alt="First slide"/>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="images/image2.jpg" alt="Second slide"/>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="images/image3.jpg" alt="Third slide"/>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <div class="jumbotron" id="main">
                <h1 class="display-4">How's your day Expert!!!</h1>
                <p class="lead"> Here you will be able to select the particular field and the respective course you can provide 
                your valuable input and can set the order of study material as per your experience so that it will help the coming 
                generation.Your input is like a daimond for our team.</p>
                <hr class="my-4"/>

                <!--main content-->
                <div id="maincontent">
                    <div id="accordion1" >
                        <div class="card" id="sidecard" >
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        # Course Selector
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1">
                                <div class="card-body">
                                    <form class="needs-validation" th:object="${Courses}" action="/ExpertsByMainId" method="post">
                                        <div class="form-group">
                                            <label for="validationServer01">Select the Field</label>
                                            <select class="custom-select" id="validationServer01" onchange="/ExpertsByMainId" required="required">
                                                <option value="">Open this select menu</option>
                                                <option th:each="fieldCourse :${fieldCourses.toArray()}"  
                                                th:value="${fieldCourse.getIdCourse()}" th:text="${fieldCourse.getCourseName()}">One</option>
                                               
                                            </select>
                                            <div class="invalid-feedback"> Not a valid Field !</div>
                                            <div class="valid-feedback"> Looks good! </div> 
                                        </div>

                                        <div class="form-group">
                                            <label for="validationServer02">Select the Major Course</label>
                                            <select class="custom-select" id="validationServer02" th:field="*{idCourse}" required="required">
                                                <option th:each="mainCourse :${mainCourses.toArray()}"  
                                                th:value="${mainCourse.getIdCourse()}" th:text="${mainCourse.getCourseName()}">One</option>
                                                
                                            </select>
                                            <div class="invalid-feedback"> Not a valid major course !</div>
                                            <div class="valid-feedback"> Looks good! </div> 
                                        </div>
                                        <button class="btn btn-primary" type="submit">Submit form</button>   
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="sidecard" >
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        # Create minor course order list
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                                <div class="card-body">
                                    <form class="needs-validation" >

                                        <div class="input-group">
                                            <select class="custom-select" id="inputminorcourse">
                                                <option th:each="minorCourse :${minorCourses.toArray()}"  
                                                th:text="${minorCourse.getCourseName()}">One</option>
                                               
                                            </select>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" id="addminorcourse" type="button">Add</button>
                                                <button class="btn btn-outline-secondary" id="removeminorcourse" type="button">Remove</button>
                                            </div>
                                        </div>

                                        <div class="form-group" id="expertlist">
                                            <label for="minorlist">My suggested Minor Course List</label>
                                            <ol class="list-group" id="minorlist">
                                               

                                            </ol>
                                        </div> 
                                        <button class="btn btn-primary" type="submit">Save Changes</button> 
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="sidecard">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        # Minor course manage content
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                                <div class="card-body">

                                    <form class="needs-validation" >

                                        <div class="input-group">
                                            <select class="custom-select" id="selectminorcourse">
                                                <option selected="selected">Choose...</option>
                                                <option >One</option>
                                                <option >Two</option>
                                                <option >Three</option>
                                            </select>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" id="minorcourse" type="submit">Show Material</button>

                                            </div>
                                        </div>
                                    </form>


                                    <form class="needs-validation" id="setstudymaterial" >

                                        <div class="input-group">
                                            <select class="custom-select" id="inputstudymaterial">
                                                <option selected="selected">Choose...</option>
                                                <option >One</option>
                                                <option >Two</option>
                                                <option >Three</option>
                                            </select>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" id="addstudymaterial" type="button">Add</button>
                                                <button class="btn btn-outline-secondary" id="removestudymaterial" type="button">Remove</button>
                                            </div>
                                        </div>

                                        <div class="form-group" id="expertlist">
                                            <label for="studymaterial">My suggested Minor Course List</label>
                                            <ol class="list-group" id="studymaterial">
                                                <li class="list-group-item">One</li>

                                            </ol>
                                        </div> 
                                        <button class="btn btn-primary" type="submit">Save Changes</button> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/expertsjs.js" ></script>

    </body>
</html>
