<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<link rel="stylesheet" href="../css/Layout.css" />
<title>E - Study Planner</title>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/jquery.min.js"></script>

<script src="../js/clearcookie.js"></script>
</head>

<body>

	<div class="container" id="containerBody">

		<!--______________________________________ Navigation Menu _____________________________________________-->
		<nav
			class="navbar sticky-top navbar-expand-lg navbar-light bg-primary"
			id="navbar">
			<a class="navbar-brand" id="mainTitle" href="/">E-Study and
				Planner</a> <br />
			<hr class="my-4" />

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/Experts/">Contribute</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/Scheduler/">Scheduler</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<div id="divusername">
						<input type="text" th:value="${user.getUserName()}" placeholder="username"
							class="topButton" readonly="readonly" id="navusername"
							name="userName" required="required"></input>
					</div>

					<a href="/" class="btn btn-dark my-2 my-sm-0 topButton"
						id="loginButton"> LogOut </a>
				</form>
			</div>
		</nav>

		<div class="jumbotron" id="main">
			<h2 class="display-4">Profile</h2>

			<!--_________________________________________ Main Content _________________________________________-->
			<div id="maincontent">



				<form class="needs-validation" action="/editProfile" method="post">
					<div class="form-row">
						<div class="col-md-4 mb-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupPrepend1">@</span>
								</div>
								<input type="text" class="form-control" id="validationServer03"
									placeholder="Username" pattern="[A-Za-z][A-Za-z0-9]+"
									title="Can't take space or special character and cant start with number"
									oninput="autotab(this, 'validationServer04')" maxlength="15"
									th:value="${user.getUserName()}"
									name="userName" readonly="readonly" required="required" />
								<div class="invalid-feedback">Enter the Username !</div>
								<div class="valid-feedback">Looks good!</div>
							</div>
						</div>
						
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" id="validationServer01"
								placeholder="First name" pattern="[A-Za-z]+"
								title="Can't take space or special character"
								oninput="autotab(this, 'validationServer02')" maxlength="15"
								th:value="${user.getFirstName()}"
								name="firstName" required="required" />
							<div class="invalid-feedback">Enter the First Name !</div>
							<div class="valid-feedback">Looks good!</div>
						</div>
						
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" id="validationServer02"
								placeholder="Last name" pattern="[A-Za-z]+"
								title="Can't take space or special character"
								oninput="autotab(this, 'validationServer03')" maxlength="15"
								th:value="${user.getLastName()}"
								name="lastName" required="required" />
							<div class="invalid-feedback">Enter the Last Name !</div>
							<div class="valid-feedback">Looks good!</div>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroupPrepend1">Email
									ID</span>
							</div>
							<input type="text" class="form-control" id="validationServer04"
								placeholder="abc@gmail.com"
								th:value="${user.getEmail()}"
								pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
								title="match the email format ex-abc@gmail.com"
								oninput="autotab(this, 'validationServer05')" maxlength="25"
								readonly="readonly" required="required" />
							<div class="invalid-feedback">Enter the Email !</div>
							<div class="valid-feedback">Looks good!</div>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroupPrepend1">Field</span>
							</div>
							<select class="custom-select" id="validationServer06"
								name="field" >
								<option th:each="fieldCourse :${fieldCourses.toArray()}"
									th:value="${fieldCourse.getIdCourse()}"
									th:text="${fieldCourse.getCourseName()}">One</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroupPrepend1">Qualification</span>
							</div>
							<select class="custom-select" id="validationServer07"
								name="qualification" >
								<option value="Graduation">Graduation</option>
								<option value="Masters">Masters</option>
								<option value="Docterate">Docterate</option>
								<option value="Others">Others</option>
							</select>
						</div>
					</div>

					<div class="form-row col-md-12 mb-4">
						<button type="button" id="changeAccountButton"
							class="btn btn-dark " data-toggle="modal"
							data-target="#exampleModalCenter3">Change the password ?</button>
					</div>

					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value=""
								id="invalidCheck3" required="required" /> <label
								class="form-check-label" for="invalidCheck3"> Agree to
								terms and conditions </label>
							<div class="invalid-feedback">Please agree terms and
								conditions !</div>
							<div class="valid-feedback"></div>
						</div>
					</div>
					
					<p id="schedulermessage" th:text="${profileMessage}"></p>
					<button class="btn btn-primary" type="submit">Update My Profile</button>
					<button type="reset" class="btn btn-primary">Reset</button>
				</form>

			</div>
		</div>

		<!--_______________________________________ Change The Password Modal __________________________________-->
		<div class="modal fade" id="exampleModalCenter3" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content" id="modalcontent2">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Change the
							Password</h5>
						<button type="button" id="changeCloseButton" class="close"
							data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form class="needs-validation" action="/changeThePassword"
							method="post">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroupPrepend1">Username</span>
									</div>
									<input type="text" class="form-control" id="Username3"
										placeholder="Username" pattern="[A-Za-z][A-Za-z0-9]+"
										title="Can't take space or special character and cant start with number"
										oninput="autotab(this, 'validationOldPassword')"
										th:value="${user.getUserName()}"
										name="userName" readonly="readonly" required="required" />
									<div class="invalid-feedback">Enter the Username !</div>
									<div class="valid-feedback">Looks good!</div>
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroupPrepend1">Old
											Password</span>
									</div>
									<input type="password" class="form-control"
										id="validationOldPassword" placeholder="Old Password"
										pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="20"
										title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
										name="oldPassword" required="required" />
									<div class="invalid-feedback">Enter the Password !</div>
									<div class="valid-feedback">Looks good!</div>
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroupPrepend1">New
											Password</span>
									</div>
									<input type="password" class="form-control"
										id="validationNewPassword"
										placeholder="Atleat 8 char + lower + upper case + 1 number"
										pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="20"
										title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
										name="newPassword" required="required" />
									<div class="invalid-feedback">Enter the Password !</div>
									<div class="valid-feedback">Looks good!</div>
								</div>
							</div>

							<hr class="my-4" />
							<button type="submit" class="btn btn-primary">Change the
								Password</button>
							<button type="reset" class="btn btn-primary">Reset</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!--________________________________________ Optional JavaScript ___________________________________________-->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>


	<script src="../js/jquery-3.2.1.slim.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>

</body>
</html>
